Repository LEDPlayr/ledplayr: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, lint-staged

.pre-commit-config.yaml:

---
fail_fast: true

default_install_hook_types:
    - pre-commit
    - commit-msg

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-added-large-files
          - id: fix-byte-order-marker
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-vcs-permalinks
          - id: check-yaml
          - id: destroyed-symlinks
          - id: end-of-file-fixer
          - id: mixed-line-ending
          - id: trailing-whitespace

    - repo: https://github.com/pre-commit/pre-commit
      rev: v4.0.1
      hooks:
          - id: validate_manifest

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.1
      hooks:
          - id: yamlfmt
            exclude: web/pnpm-lock.yaml

    - repo: https://github.com/compilerla/conventional-pre-commit
      rev: v3.4.0
      hooks:
          - id: conventional-pre-commit
            stages: [commit-msg]
            args: []

    - repo: https://github.com/ComPWA/taplo-pre-commit
      rev: v0.9.3
      hooks:
          - id: taplo-format
          - id: taplo-lint

    - repo: local
      hooks:
          - id: cargo-fmt
            name: cargo-fmt
            language: system
            types: [rust]
            entry: cargo fmt
            args:
                - --

          - id: cargo-clippy
            name: cargo-clippy
            language: system
            types: [rust]
            pass_filenames: false
            entry: cargo clippy
            args:
                - --all-features
                - --all-targets
                - --
                - -Dwarnings
                - -Dclippy::all

          - id: lint-staged
            name: lint-staged
            language: system
            files: ^web/
            pass_filenames: false
            entry: bash -c 'cd web && pnpm exec lint-staged'

fix: remove erroneous file
  web/src/routes/+layout.
Due: lint-staged

feat: add dark-mode
  web/src/app.html
  web/src/lib/components/Sidebar.svelte
  web/src/lib/components/Theme.svelte
  web/src/lib/stores.ts
  web/src/routes/+layout.svelte
  web/src/routes/display/+page.svelte
Due: lint-staged

feat: add fseq debug binary
  Cargo.toml
  src/bin/dump_fseq.rs
Due: cargo-fmt, cargo-clippy

fix: allow multiple uploads of same sequence
  src/db/mod.rs
  src/db/models.rs
Due: cargo-fmt, cargo-clippy

fix: misinterpreted u24 in fseq
  src/fseq/parser.rs
Due: cargo-fmt, cargo-clippy

docs: update known bugs with current workaround
  README.md
Due: none

chore: remove unused code
  src/storage.rs
Due: cargo-fmt, cargo-clippy

chore: move schedule code into try_from
  src/models.rs
  src/web.rs
Due: cargo-fmt, cargo-clippy

feat: add option to log to disk
  Cargo.lock
  Cargo.toml
  src/bin/ledplayr.rs
  src/config.rs
Due: cargo-fmt, cargo-clippy

feat: add APIs for reading logs
  Cargo.lock
  Cargo.toml
  src/bin/ledplayr.rs
  src/config.rs
  src/web.rs
Due: cargo-fmt, cargo-clippy

feat: ability to view logs in web UI
  openapi.json
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/ROUTES.ts
  web/src/lib/client/services.gen.ts
  web/src/lib/client/types.gen.ts
  web/src/lib/components/Sidebar.svelte
  web/src/routes/logs/+page.svelte
Due: lint-staged

docs: update features to include logging
  README.md
Due: none

chore: version bump
  Cargo.lock
  Cargo.toml
  web/package.json
Due: lint-staged

fix: don't panic on bad fseq
  src/player.rs
Due: cargo-fmt, cargo-clippy

fix: remove unsafe u32 conversion
  src/fseq/parser.rs
Due: cargo-fmt, cargo-clippy

chore: switch to cheaper mutex lock
  Cargo.lock
  Cargo.toml
  src/bin/ledplayr.rs
  src/player.rs
  src/web.rs
Due: cargo-fmt, cargo-clippy

chore: add context to unrecoverable errors
  src/player.rs
  src/web.rs
Due: cargo-fmt, cargo-clippy

fix: sort log names
  src/web.rs
Due: cargo-fmt, cargo-clippy

chore: update deps and eslint
  Cargo.lock
  web/.eslintignore
  web/.eslintrc.cjs
  web/eslint.config.mjs
  web/package.json
  web/pnpm-lock.yaml
Due: lint-staged

chore: version bump
  Cargo.lock
  Cargo.toml
  openapi.json
  web/package.json
Due: lint-staged

chore: update deps
  Cargo.lock
  web/package.json
  web/pnpm-lock.yaml
  web/src/app.d.ts
Due: lint-staged

fix: outputs page not working
  web/src/routes/outputs/+page.svelte
Due: lint-staged

fix: issue with outputting submodels
  src/player.rs
Due: cargo-fmt, cargo-clippy

feat: add animation preview
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/utils.ts
  web/src/routes/display/+page.svelte
Due: lint-staged

feat: save camera positions
  web/src/lib/components/VirtualDisplay.svelte
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/routes/display/+page.svelte
Due: lint-staged

chore: update deps
  Cargo.lock
  web/package.json
  web/pnpm-lock.yaml
Due: lint-staged

feat: add meshes and saved scenes
  Cargo.lock
  migrations/2024-11-07-161931_more-virtual-display/down.sql
  migrations/2024-11-07-161931_more-virtual-display/up.sql
  openapi.json
  src/bin/gen_openapi.rs
  src/bin/ledplayr.rs
  src/db/mod.rs
  src/db/models.rs
  src/db/schema.rs
  src/storage.rs
  src/web.rs
  src/web/error.rs
  src/web/files.rs
  src/web/fpp.rs
  src/web/logs.rs
  src/web/meshes.rs
  src/web/mod.rs
  src/web/playlists.rs
  src/web/router.rs
  src/web/scenes.rs
  src/web/scheduler.rs
  src/web/schedules.rs
  src/web/sequences.rs
  src/web/testing.rs
  src/web/upload.rs
  src/web/utils.rs
  web/.prettierrc
  web/src/lib/client/schemas.gen.ts
  web/src/lib/client/services.gen.ts
  web/src/lib/client/types.gen.ts
  web/src/lib/components/Notifications.svelte
  web/src/lib/components/VirtualDisplay.svelte
  web/src/lib/components/test/TestModel.svelte
  web/src/routes/+layout.svelte
  web/src/routes/display/+page.svelte
  web/src/routes/logs/+page.svelte
  web/src/routes/outputs/+page.svelte
  web/src/routes/playlists/+page.svelte
  web/src/routes/schedules/+page.svelte
  web/src/routes/sequences/+page.svelte
Due: cargo-fmt, cargo-clippy, lint-staged

chore: finish tidying API
  src/web/schedules.rs
  src/web/sequences.rs
  src/web/upload.rs
Due: cargo-fmt, cargo-clippy

fix: show memory usage instead of memory free
  src/web/fpp.rs
  web/src/lib/components/Stats.svelte
Due: cargo-fmt, cargo-clippy, lint-staged

chore: update deps and add optimised build
  Cargo.lock
  Cargo.toml
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/ROUTES.ts
  web/src/lib/components/Sidebar.svelte
  web/vite.config.ts
Due: lint-staged

chore: update deps
  Cargo.lock
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/client/index.ts
  web/src/lib/client/sdk.gen.ts
Due: lint-staged

chore(deps): update all deps
  Cargo.lock
  web/package.json
  web/pnpm-lock.yaml
  web/src/routes/sequences/+page.svelte
Due: lint-staged

feat: add model viewer
  web/pnpm-lock.yaml
  web/src/lib/ROUTES.ts
  web/src/lib/components/Sidebar.svelte
  web/src/routes/models/+page.svelte
Due: lint-staged

chore: optimised build as default
  Cargo.toml
Due: none
