Repository LEDPlayr/ledplayr: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, lint-staged

cargo-fmt:
  name: cargo-fmt
  language: system
  entry: cargo fmt
  args:
  - --

cargo-clippy:
  name: cargo-clippy
  language: system
  pass_filenames: false
  entry: cargo clippy
  args:
  - --all-features
  - --all-targets
  - --
  - -Dwarnings
  - -Dclippy::all

lint-staged:
  name: lint-staged
  language: system
  pass_filenames: false
  entry: bash -c 'cd web && pnpm exec lint-staged'

chore: update deps
  Cargo.lock
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/client/sdk.gen.ts
Due: lint-staged

fix: issue when outputs aren't in order
  src/player.rs
Due: cargo-fmt, cargo-clippy

fix: typo on logs page
  web/src/routes/logs/+page.svelte
Due: lint-staged

chore: update deps
  Cargo.lock
  web/package.json
  web/pnpm-lock.yaml
Due: lint-staged

chore(deps): update to latest deps
  Cargo.lock
  Cargo.toml
  openapi.json
  src/web/logs.rs
  src/web/meshes.rs
  src/web/scenes.rs
  src/web/testing.rs
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/client/schemas.gen.ts
  web/src/lib/client/types.gen.ts
Due: cargo-fmt, cargo-clippy, lint-staged

fix: ordering issues with schedules
  src/player.rs
Due: cargo-fmt, cargo-clippy

fix: add context to playlist log
  src/db/mod.rs
Due: cargo-fmt, cargo-clippy

fix: binary formatting with new OpenAPI
  openapi.json
  src/models.rs
  src/web/fpp.rs
  src/web/meshes.rs
  src/web/sequences.rs
  web/src/lib/client/schemas.gen.ts
  web/src/lib/client/types.gen.ts
Due: cargo-fmt, cargo-clippy, lint-staged

chore(deps): update to latest svelte
  web/package.json
  web/pnpm-lock.yaml
Due: lint-staged

chore: version bump
  Cargo.lock
  Cargo.toml
  openapi.json
  web/package.json
Due: lint-staged

feat: add basic button support
  Cargo.lock
  Cargo.toml
  migrations/2024-12-06-094128_add-virtual-buttons/down.sql
  migrations/2024-12-06-094128_add-virtual-buttons/up.sql
  openapi.json
  src/bin/ledplayr.rs
  src/button.rs
  src/config.rs
  src/db/mod.rs
  src/db/models.rs
  src/db/schema.rs
  src/lib.rs
  src/web/buttons.rs
  src/web/mod.rs
  src/web/router.rs
  web/openapi-ts.config.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/ROUTES.ts
  web/src/lib/client/index.ts
  web/src/lib/client/schemas.gen.ts
  web/src/lib/client/sdk.gen.ts
  web/src/lib/client/types.gen.ts
  web/src/lib/components/Sidebar.svelte
  web/src/lib/components/test/PatternPicker.svelte
  web/src/routes/buttons/+page.svelte
Due: cargo-fmt, cargo-clippy, lint-staged

chore: refactor to enable testing sequences, and playlists
  openapi.json
  src/bin/ledplayr.rs
  src/button.rs
  src/models.rs
  src/player.rs
  src/web/buttons.rs
  src/web/mod.rs
  src/web/player.rs
  src/web/router.rs
  src/web/scheduler.rs
  src/web/testing.rs
  web/src/lib/client/sdk.gen.ts
  web/src/lib/client/types.gen.ts
  web/src/lib/components/Stats.svelte
  web/src/lib/components/test/TestModel.svelte
  web/src/lib/stores.ts
  web/src/lib/types.ts
  web/src/lib/utils.ts
  web/src/routes/display/+page.svelte
Due: cargo-fmt, cargo-clippy, lint-staged

feat: enable setting the time and timezone
  Cargo.lock
  Cargo.toml
  openapi.json
  src/web/config.rs
  src/web/error.rs
  src/web/mod.rs
  src/web/router.rs
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/client/client/client.gen.ts
  web/src/lib/client/client/index.ts
  web/src/lib/client/client/types.gen.ts
  web/src/lib/client/client/utils.gen.ts
  web/src/lib/client/core/bodySerializer.gen.ts
  web/src/lib/client/core/params.gen.ts
  web/src/lib/client/sdk.gen.ts
  web/src/lib/client/types.gen.ts
  web/src/lib/components/Sidebar.svelte
  web/src/routes/config/+page.svelte
Due: cargo-fmt, cargo-clippy, lint-staged

feat: add browser time to config
  openapi.json
  src/web/config.rs
  src/web/router.rs
  web/src/lib/client/sdk.gen.ts
  web/src/lib/client/types.gen.ts
  web/src/routes/config/+page.svelte
Due: cargo-fmt, cargo-clippy, lint-staged

fix: updated openapi after renames
  openapi.json
  web/src/lib/client/types.gen.ts
Due: lint-staged

chore: code tidy
  web/src/routes/config/+page.svelte
Due: lint-staged

chore: switch to devenv for cargo cross
  .envrc
  .gitignore
  default.nix
  devenv.lock
  devenv.nix
  devenv.yaml
  flake.lock
  flake.nix
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  lint-staged: any of: ^web/
